<head><link rel="stylesheet" type="text/css" href="css/login.css"></head>

<div class="jumbotron">
	<div class="container">
		<h1 class="text-center text-uppercase text-light">YouLikeWhatYouSee</h1>
		<h4 class="text-center text-light">YouLikeWhatYouSee gives you a glimpse into your liking habits across social media platforms. A COGS121 app.</h4>
		<div class="btn-container">
			
			<div class="col-md-3 col-md-offset-3">
				<a class="btn btn-primary"href="/auth/instagram">Login with Instagram</a>
			</div>
			<div class="col-md-3">
				<a class="btn btn-primary" href="/auth/facebook">Login with Facebook</a>
			</div>

		</div>
	</div> <!-- END container -->
</div> <!-- END jumbotron -->


